.wrapper {
    min-height: calc(100vh - 2 * var(--globalPadding));
    max-height: calc(100vh - 2 * var(--globalPadding));
    margin: var(--globalPadding);
    padding: var(--globalPadding);
    background-color: #ddd;
    border: 1px solid #666;
    overflow: auto;

    .scroll-buttons-container {
        position: fixed;
        right: 15%;
        bottom: 20%;

        .show {
            visibility: visible;
        }
    }
}