<div class="wrapper" #wrapper (scroll)="onScroll()">
    <div #contentContainer>
        <app-header
            [showStartGameButton]="showStartGameButton"
            (start)="startGame()"
        ></app-header>
        <template appGameAnchor></template>
        <div class="scroll-buttons-container" *ngIf="showScrollButtons">
            <app-scroll-button
                [ngClass]="{ 'show': showScrollTopButton }"
                direction="top"
                (scrollTo)="scrollTo($event)"
            ></app-scroll-button>
            <app-scroll-button
                [ngClass]="{ 'show': showScrollBottomButton }"
                direction="bottom"
                (scrollTo)="scrollTo($event)"
            ></app-scroll-button>
        </div>
        <app-footer *ngIf="showFooter" #footer
            (startAnotherGame)="startGame()"
            (endGame)="endGame()"
        ></app-footer>
    </div>
</div>
