.main-wrapper {
  display: flex;
  flex-direction: column;

    .input-container {
        max-width: 30%;
        min-width: 270px;
        margin: 15px 0 15px auto;

        .error-message {
            text-align: right;
        }
    }

    .message-wrapper {
        flex-basis: 80%;
        flex-grow: 1;
        overflow: hidden;

        .puzzler {
            display: flex;
            flex-direction: row-reverse;
            margin-left: auto;
            font-weight: bold;
            border: 2px solid rgb(16, 191, 214);
        }

        .guesser {
            display: flex;
            flex-direction: row;
            margin-right: auto;
            background-color: rgb(3, 3, 99);
            border: 2px solid rgb(73, 13, 60);
            color: rgb(235, 233, 233);
        }
    }

    .divider {
        width: 0px;
        margin: 20px;
        align-self: center;
        border: 2px solid #000;
        border-radius: 10%;
        transition: width 1.5s;

        &.large-divider {
            width: 100%;
        }
    }
}
