<div class="main-wrapper">
        <div class="input-container">
            <app-input
                placeholder="Set Number"
                [formControl]="input"
                (blur)="handleInput()"
                (keydown)="onInputKeyDown($event)"
                (blurred)="handleInput()"
            ></app-input>
        <div *ngIf="incorrectInput" class="error-message">Set proper value</div>
    </div>
    <div class="message-wrapper">
        <div *ngIf="messages$ | async as messages">
            <app-message *ngFor="let message of messages"
                [message]="message"
                [ngClass]="message.person"
                [appScroll]="shouldScroll"
            ></app-message>
        </div>
    </div>
    <div [ngClass]="{ divider: true, 'large-divider': showDivider }"></div>
</div>
