<div class="main-wrapper" #wrapper>
    <div *ngIf='gameStarted' class='number-saver'>
        <p>What number should I remember?</p>
        <input
            type='number'
            [formControl]='input'
        ><button (click)='setSecretNumber(input.value)'>
            ok
        </button>
    </div>
    <div class='message-wrapper'>
        <div *ngIf='messages$ | async as messages'>
            <app-message *ngFor='let message of messages'
                [message]='message'
                [ngClass]='message.person'
                [appScroll]='shouldScroll'
            ></app-message>
        </div>
    </div>
</div>