* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

:root {
    --globalPadding: 10px;
}

body {
    /* padding: var(--globalPadding); */
}

.wrapper {
    min-height: calc(100vh - 2 * var(--globalPadding));
    max-height: calc(100vh - 2 * var(--globalPadding));
    margin: var(--globalPadding);
    padding: var(--globalPadding);
    background-color: #ddd;
    border: 1px solid #666;
    overflow: auto;
}