:host {
    margin: 10px;

    align-items: center;
    width: 70%;

    border: 2px solid rgb(16, 191, 214);
    border-radius: 15px;

    background-color: rgb(165, 135, 121);

    overflow: hidden;
}

.user {
    /* width: 200px; */
    padding: 5px;
    background-color: #fff;
}
img { 
    display: block;
    margin: 0 auto;
    height: 80px;
    width: 80px;
}

.nickname  {
    text-align: center;
    font-size: 23px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.message {
    /* margin-bottom: 8px; */
    padding: 15px;
    color: 18px;

}

.loader {
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 1px;
    color: rgb(35, 102, 146);
    /* color:  */
}


