:host {
    margin: 10px;
    align-items: center;
    width: 500px;
    max-width: 70%;
    border-radius: 15px;
    background-color: rgb(165, 135, 121);
    overflow: hidden;

    &.guesser .loader {
        color: rgb(252, 143, 228);
    }

    &.puzzler .loader {
        color: rgb(35, 102, 146);
    }
}

.user {
    padding: 5px;
    background-color: #fff;

    img {
        display: block;
        margin: 0 auto;
        height: 80px;
        width: 80px;
        border-radius: 5px;
    }

    .nickname  {
        text-align: center;
        font-size: 23px;
        margin-bottom: 0px;
        margin-top: 5px;
        color: #000;
    }
}

.message {
    padding: 15px;
    color: 18px;
}

.loader {
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 1px;
    font-weight: normal;
    // animation-name: blinking;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
