:host {
    margin: 10px;
    align-items: center;
    width: 500px;
    max-width: 70%;
    border-radius: 15px;
    background-color: rgb(165, 135, 121);
    overflow: hidden;
    
    &.guesser .loader {
        color: rgb(252, 143, 228);
    }
}

.user {
    padding: 5px;
    background-color: #fff;
    
    img { 
        display: block;
        margin: 0 auto;
        height: 80px;
        width: 80px;
        border-radius: 5px;
    }
    
    .nickname  {
        text-align: center;
        font-size: 23px;
        margin-bottom: 0px;
        margin-top: 5px;
        color: #000;
    }
}

.message {
    padding: 15px;
    color: 18px;
}

.loader {
    font-size: 14px;
    align-self: flex-end;
    margin-bottom: 1px;
    color: rgb(35, 102, 146);
    font-weight: normal;
}

